@model OnlinePharmacy.Models.MedicineSubtype
@{
    ViewData["Title"] = "Delete";
}
<br />
<br />
<form method="post">
    <div class="border backgroundghostWhite " style="height:400px;">
        <input type="hidden" asp-for="Id" />


        <div class="form-group row">
            <div class="col-8">

                <h2 class="text-success"> Remove MedicineSubtype </h2>

            </div>
        </div>



        <div class="form-group row" style="height:10px;">
        </div>





        <fieldset disabled>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MedicineType.Name" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MedicineType.Name" class="form-control" />
                </div>
            </div>




            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Name" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>

        </fieldset>
        <br />
        <div class="form-group row">
            <div class="col-5 offset-3">

                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-outline-danger form-control" asp-route-id="@Model.Id" value="Delete" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-outline-success form-control">Back to List</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</form>

