@model OnlinePharmacy.Models.ViewModels.MedicineTypeandMedicineSubtypeViewModel
@using OnlinePharmacy.WebShopUtility.WebShopExtension

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<br />



@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}




    <div class="border backgroundghostWhite ">
        <div class="row  rounded" style="  margin:0px; height:60px; border-bottom-color:forestgreen;padding:1px;">
            <div class="col-8">
            <h4 class="text-success">Edit MedicineSubtype Info</h4>
            </div>

            <div class="col-4">
                <h4 class="text-success">Exsisting Subtypes</h4>
                </div
>

        </div>



        <div class="row col-12">

            <div class="col-9 ">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="MedicineSubtype.MedicineTypeId" />
                    <input type="hidden" asp-for="MedicineSubtype.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="MedicineSubtype.MedicineTypeId" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <select id="ddlTypelist" asp-for="MedicineSubtype.MedicineTypeId" disabled asp-items="Model.MedicineTypeList.ToSelectListItem(Model.MedicineSubtype.MedicineTypeId)" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="MedicineSubtype.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="MedicineSubtype.Name" class="form-control" />
                        </div>
                        <span asp-validation-for="MedicineSubtype.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-5 offset-4">


                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-outline-success form-control" asp-route-id="@Model.MedicineSubtype.Id" value="Update" />
                                </div>
                                <div class="col-6">
                                    <a asp-action="Index" class="btn btn-outline-info form-control">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3">
                @if (Model.MedicineSubtypeList.Count() > 0)
                {

                    <div id="MedicineSubtypeList">
                        <ul class="list-group"></ul>
                    </div>
                }
            </div>

        </div>




        <div class="row" style="height:250px;">


            </div
>
    </div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function updateMedicineSubtypeList() {
            var medicineTypeSelected = document.getElementById("ddlTypelist").value;

            $list = $('#MedicineSubtypeList');

            $.ajax({
                url: '/Admin/MedicineSubtype/GetMedicineSubtype/' + medicineTypeSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }

            });

        }

        $(document).ready(function () {
            updateMedicineSubtypeList();
        });

    </script>


}