@model OnlinePharmacy.Models.MedicineType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<br />

<form method="post" asp-action="Edit">
    <div class="border backgroundghostWhite">

        <div class="row  rounded" style="  margin:0px; height:60px; border-bottom-color:forestgreen;padding:1px;">
            <h3 class="text-success">Edit MedicineType Info</h3>
        </div>




      

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <div class="row">
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-outline-success form-control">Back to List</a>
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-outline-info form-control" asp-route-id="@Model.Id" value="Update" />
                        </div>

                    </div>





                </div>
            </div>
        
        <div class="row" style="height:250px;">



            </div>

    </div>
</form>