@model OnlinePharmacy.Models.ViewModels.CustomerIndexViewModel

<br/>

<div class="row">

    <div class="col-12 " style="height:110px">
        @if (Model.DiscountCode.ToList().Count > 0)
        {

            <div class="border">
                <div class="carousel" data-ride="carousel" data-interval="2500">
                    @for (int i = 0; i < Model.DiscountCode.Count(); i++)
                    {
                        if (i == 0)
                        {


                            <div class="carousel-item active">
                                @{
                                    var base64 = Convert.ToBase64String(Model.DiscountCode.ToList()[i].Picture);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src="@imgsrc" height="100px" class="d-block w-100" />
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                @{
                                    var base64 = Convert.ToBase64String(Model.DiscountCode.ToList()[i].Picture);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src="@imgsrc" height="100px" class="d-block w-100" />
                            </div>
                        }
                    }
                </div>
            </div>
            <br />


        }


    </div>


</div>


<div class=" container backgroundghostWhite">



    <div class="row">
        <div class="col-3" style="text-align:left;">
            <ul id="medicine-filters" style="list-style-type:none ;text-align:left;" class=" backgroundghostWhite menu-filter-list text-center">
                <li class="active btn btn-secondary ml-1 mr-1" style="width:230px; text-align:left;" data-filter=".medicine-pharmacy"> Display All</li>

                @foreach (var item in Model.MedicineType)
                {
                    <li  style="width:240px; text-align:left;" class=" "  data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
                }
            </ul>
        </div>
        <div class="col-9 " style="margin-left:0px; margin-top:14px;">

            @foreach (var Type in Model.MedicineType)
            {
                <div class="row" id="menu-wrapper ">
                    <partial name="_ThumbnailAreaPartial" model="@Model.Medicine.Where(u=>u.MedicineType.Name.Equals(Type.Name))" />
                </div>
            }
        </div>


    </div>

</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script>

        var posts = $('.post');

        (function ($) {

            $("#medicine-filters li").click(function () {
                $("#medicine-filters li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".medicine-pharmacy").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).fadeIn("fast");
                }, 10);
            });



        })(jQuery);

    </script>
}